@model IEnumerable<Category>
@{
}
<h2>These are your categories </h2>


<div class="container">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card shadow-sm">
                   
                    <div class="card-body">
                        <p class="card-text">@item.Name.</p>
                        <p class="card-text">@item.Description.</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class=" btn-sm btn-outline-secondary">Manage</a>
                               

                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <section style="position: relative; color: aqua; width: 200px; height: 20px; margin-top:30%;">
        <a href="@Url.Action("AddCategory", "Home")">
        <button class="btn-outline-success btn-xl" style="border:groove" >Add a Category</button></a>
    </section>


</div>